/* Estilos CSS para Restaurante Gourmet */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    height: 132px;
    /* background-color: #f8b400;    */
    /* background-color: #ff991f; */
    background-image: radial-gradient(#ffb931, #ff6100);
    /* background-image: url('Imagenes/logo-transparente.webp'); */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    /* color: white; */
    color: #c1ff72;
    text-align: center;
    padding: 1rem 0;
    position: relative;
}

.logo {
    position: absolute;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    z-index: 5;
    opacity: 0.3;
    /* height: 200px; */
}

.logo img {
    position: relative;
    /* width: 300px; */
    /* height: 200px; */
}

header h1 {
    font-size: 2.5rem;
    position: relative;
    z-index: 2;
    top: -20px;
    -webkit-text-stroke: 1px #333;
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

header p {
    margin-top: 0.5rem;
    position: relative;
    z-index: 7;
    font-weight: bold;
    /* top: -9px; */
    top: 57px;
    /* -webkit-text-stroke: 0.5px #333; */
    -webkit-text-stroke: 0.5px #7BA842;
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

.menu-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.menu-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    z-index: 10;
}

/* Estilo del menú desplegable */
.menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    width: 200px;
    z-index: 10;
    /* opacity: 0; */
    /* transition: opacity 0.3s ease, visibility 0.3s ease; */
    /* visibility: hidden; */
}

/* Mostrar menú al pasar el mouse */
/* .menu-container:hover .menu  {
    display: flex;
    opacity: 1;
    visibility: visible;
} */

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    border-bottom: 1px solid #444;
}

.menu li:last-child {
    border-bottom: none;
}

.menu a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.menu a:hover {
    background-color: #555;
}

/* Mostrar menú cuando esté activo */
.menu.active {
    display: flex;
}

.menu.inactive {
    display: none;
}

main {
    /* background-image: url('Imagenes/logo-2.webp'); */
    /* background-size: cover; */
    background-repeat: no-repeat;
    /* background-position-y: -250px; */
}

.menu-section {
    background-image: url('Imagenes/logo.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 2rem;
}

.menu-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
    position: relative;

}

.menu-item img {
    width: 100%;
    /* height: 200px; */
    height: auto;
    /* object-fit: cover; */
    /* background-size: cover; */

}

.FondoImg {
    display: none;
}

/* .Burguer {
    background-image: url('Imagenes/burguer-completa.webp');
} */

.Img1 {
    position: relative;
    display: none;
}

.Img2 {
    position: relative;
    display: none;
}

.menu-item h3 {
    /* margin: 0.5rem 0; */
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 30px;
}

.menu-item p {
    padding: 0 1rem;
    /* margin-bottom: 0.5rem; */
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 75px;
}

.menu-item .price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #f8b400;
    /* margin-bottom: 1rem; */
    text-shadow: 2px 2px 2px rgba(167, 121, 0, 1);
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
}

.nodo-img-item {
    position: absolute;
    width: 100%;
    /* height: 100px; */
    display: flex;
    justify-content: center;
    z-index: 5;
    /* opacity: 0.3; */
    top: 8px;
    /* height: 200px; */
}

.nodo-img-item img {
    position: relative;
    width: 20%;
    /* animation: heartbeat 1.5s infinite; */
    animation: heartbeat 1.5s ease-in-out 10;
}


/* #myBtn {
    display: none; Hidden by default
    position: fixed; Fixed/sticky position
    bottom: 20px; Place the button at the bottom of the page
    right: 30px; Place the button 30px from the right
    z-index: 99; Make sure it does not overlap
    border: none; Remove borders
    outline: none; Remove outline
    background-color: red; Set a background color
    color: white; Text color
    cursor: pointer; Add a mouse pointer on hover
    padding: 15px; Some padding
    border-radius: 10px; Rounded corners
    font-size: 18px; Increase font size
  }

  #myBtn:hover {
    background-color: #555; Add a dark-grey background on hover
  } */

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

footer a {
    color: #f8b400;
    margin: 0 0.5rem;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* .ImgSocial {
    display: flex;
    justify-content: center;
} */

.ImgSocial {
    /* width: 20px; */
    width: 30px;
    /* height: 20px; */
    height: 30px;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.2);
    }
    60% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes heartbeat2 {
    0% {
        opacity: 0.8;
        transform: scale(1);
    }
    30% {
        opacity: 0.6;
        transform: scale(1.2);
    }
    60% {
        opacity: 0.6;
        transform: scale(1);
    }
    100% {
        opacity: 0.8;
        transform: scale(1);
    }
}

@media only screen and (min-width: 360px) and (max-width: 501px) and (orientation: portrait) {
    header {
        /* width: 350px; */
        height: 132px;
        border-radius: 8px;
        margin: 0 5px 0 5px;
        padding: 1rem 0;
    }

    header p {
        /* top: -9px; */
        top: 57px;
    }

    .logo {
        /* width: 350px; */
        height: 100px;
        opacity: 0.8;
        /* animation: heartbeat2 1.5s ease-in-out 5; */
        animation: heartbeat2 1.5s ease-in-out 2;
    }

    .menu-container {
        position: fixed;
        margin-right: 10px;
        /* top: -40px; */
        top: 0;
        right: 0;
        width: 100%;
        z-index: 10;

    }

    .menu.active {
        opacity: 0.8;
        /* width: 30%; */
        width: fit-content;
    }

    .menu a {
        font-size: 14px;
        padding: 5px;
        /* right: 5px; */
    }

    .menu-section {
        background-image: none;
        /* padding: 10px 5px 10px 5px; */
        padding: 5px;
        gap: 5px;
    }

    .menu-item {
        background-image: radial-gradient(#ffb931, #ff6100);
        /* background-image: linear-gradient(90deg, #ffb931 0%, #ff6100 100%); */
        width: 100%;
        display: flex;
        flex-direction: column;
        transition: transform 0.5s ease-in-out;
        /* transition: transform 0.3s ease, opacity 0.3s ease; */
        /* transform: scale(0); */

    }

    .menu-item.hidden {
        /* transform: translateX(-100%); */
        /* transition: transform 0.8s ease-in-out; */
        /* opacity: 0; */
        /* transition: transform 0.8s ease-in-out; */
        transform: scale(0);
        /* transition: transform 0.5s ease, opacity 0.5s ease; */
        /* transition: transform 0.3s ease, opacity 0.3s ease; */
        /* visibility: hidden; */
    }

    .detail-view {
        /* display: none; */
        display: inline-flex;
        flex-direction: column;
        visibility: hidden;
        position: absolute;
        /* opacity: 0; */
        /* transform: translateX(100%); */
        /* background-image: radial-gradient(#ffb931, #ff6100); */
        background-image: url('Imagenes/fondo-img.webp');
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px;
        /* clip-path: path("M100,10 C180,10 412,10 452,100 C452,180 452,412 360,452 C180,452 40,452 10,360 C10,180 10,40 100,10 Z"); */
        text-align: center;
        /* width: 100%; */
        /* transition: opacity 0.3s ease; */
        transform-origin: center center; /* Asegura que el encogimiento ocurra desde el centro */
        transition: transform 0.5s ease-in-out;
        /* transition: transform 0.3s ease-in-out, opacity 0.3s ease; */
        z-index: 5;
    }

    .detail-view.active {
        background-image: url('Imagenes/fondo-img.webp');
        background-size: cover;
        background-repeat: no-repeat;
        /* transform: scale(1); */
        /* display: block; */
        /* display: grid; */
        display: inline-flex;
        flex-direction: column;
        visibility: visible;
        /* opacity: 1; */
        transition: transform 0.5s ease-in-out;
        /* transform: translateX(0); */
        /* transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out; */
        /* visibility: visible; */
        /* transition: transform 0.8s ease-in-out; */
        /* width: 100%; */
    }

    .detail-view.exit {
        /* transform: translateX(100%); */
        transform: scale(0);
        /* transition: transform 0.3s ease-in-out, opacity 0.3s ease; */
    }

    .detail-view.final {
        /* visibility: hidden; */
        /* opacity: 0; */
        visibility: visible;
        transform: scale(0);
    }

    .detail-view .descContent {
        position: relative;
        display: inline-flex;
        flex-direction: column;
        width: 100%;
        height: 85%;
        /* margin-left: auto; */
        /* margin-right: auto; */
        /* margin-top: auto; */
        margin: 10px auto auto auto;
    }

    .descContent h2 {
        position: relative;
        width: 100%;
        /* height: 20%; */
        /* top: 5px; */
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        line-height: 30px;
        text-shadow: 1px 1px 1px rgba(173, 241, 84, 0.6);
    }

    .descContent h1 {
        color: #333;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        text-shadow: 1px 2px 1px rgba(75, 75, 75, 0.6);
    }

    .descripcion {
        position: relative;
        width: 80%;
        /* height: 80%; */
        display: table;
        /* top: 0; */
        /* bottom: 0; */
        /* left: 0; */
        /* right: 0; */
        /* margin: auto; */
        margin: 10px auto auto auto;
    }

    .descripcion p {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .detail-view .FondoImg {
        display: flex;
        position: relative;
        width: 20%;
        margin-right: auto;
        margin-left: auto;
        top: 8px;
        opacity: 0.8;
        /* animation: heartbeat 1.5s infinite; */
        animation: heartbeat 1.5s ease-in-out 10;
    }

    .menu-item h3 {
        color: #c1ff72;
        -webkit-text-stroke: 1px #7BA842;
        text-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
        display: none;
        /* border: 1px solid #f8b400; */
        /* margin: 0; */
    }

    body.bebidas h3 {
        display: block;
    }

    .back-button .btnClose {
        background-color: #333333eb;
        border: 1px solid #333;
        border-radius: 50%;
        background-image: url('Imagenes/close.webp');
        background-size: cover;
        /* box-shadow: none !important; */
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        margin: 0;
        padding: 0;
    }

    .back-button {
        position: absolute;
        /* background-image: url('Imagenes/close.webp'); */
        /* background-size: cover; */
        display: flex;
        /* box-shadow: none !important; */
        /* border-radius: 50%; */
        /* border-radius: 30% 40% 50% 40% / 40% 50% 30% 50%; */
        /* clip-path: path("M50,10 C90,10 140,10 180,50 C180,90 180,140 140,180 C90,180 40,180 10,140 C10,90 10,40 50,10 Z"); */
        /* clip-path: path("M100,10 C180,10 412,10 452,100 C452,180 452,412 360,452 C180,452 40,452 10,360 C10,180 10,40 100,10 Z"); */
        /* clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%); */
        /* background-color: #333; */
        /* border: 1px solid #333; */
        background: none;
        border: none;
        outline: none;
        opacity: 0.8;
        /* background-color: #333333eb; */
        width: 42px;
        height: 42px;
        right: 2%;
        /* top: 0; */
        top: 75%;
        /* bottom: 0; */
        margin: auto;
    }

    .menu-item p {
        font-weight: bold;
        text-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
        height: auto;
        /* border: 1px solid #f8b400; */
        /* margin: 0; */
    }

    /* .descripcion:empty::before { */
        /* position: absolute; */
    /* } */

    .menu-item .price {
        /* text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6); */
        /* text-shadow: 0 2px 2px #333; */
        text-shadow: none;
        color: white;
    }

    .menu-item .price, .menu-item h3, .menu-item p {
        border: 1px solid #f8b400;
        margin: 0;
        /* color: #333; */
    }

    .menu-item img {
        position: relative;
        height: auto;
        opacity: 0.8;
        display: block;
    }

    .menu-item .Burguer, .menu-item .Cordero, .menu-item .Choritaco, .menu-item .Trucha,
    .menu-item .Veggie, .menu-item .Pancho, .menu-item .Fritas, .menu-item .Pollo, .menu-item .ChoriBurguer{
        display: none;
    }

    .menu-item .FondoImg {
        position: relative;
        opacity: 1;
        /* width: 348px; */
        width: 100%;
        height: 315px;
        opacity: 0.3;
        margin-left: auto;
        margin-right: auto;
        /* display: none; */
        /* border: 1px solid blue; */
    }

    .menu-item .Img1 {
        position: absolute;
        opacity: 1;
        width: 348px;
        height: 348px;
        left: 0;
        right: 0;
        margin: auto;
        /* margin-left: auto; */
        /* margin-right: auto; */
        /* display: none; */
        /* border: 1px solid blue; */
    }

    .menu-item .Img2 {
        position: absolute;
        opacity: 1;
        width: 348px;
        height: 348px;
        /* height: 100%; */
        left: 0;
        right: 0;
        margin: auto;
        /* margin-left: auto; */
        /* margin-right: auto; */
        /* display: none; */
    }

    .nodo-img-item img {
        /* position: relative; */
        /* width: 20%; */
        /* animation: heartbeat 1.5s infinite; */
        animation: heartbeat 1.5s ease-in-out 4;
    }


    .top {
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: right;
        bottom: 20px;
        z-index: 10;

    }

    /* #myBtn {
        display: none;
    } */

    #myBtn {
        display: none; /* Hidden by default */
        position: relative; /* Fixed/sticky position */
        /* bottom: 20px; /* Place the button at the bottom of the page */
        right: 20px; /* Place the button 30px from the right */
        /* z-index: 10; /* Make sure it does not overlap */
        border: 1px solid #333; /* Remove borders */
        outline: none; /* Remove outline */
        /* background-color: red; /* Set a background color */
        background-color: #333333eb;
        background-image: url('Imagenes/top.webp');
        background-size: cover;
        color: white; /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 20px; /* Some padding */
        border-radius: 50px; /* Rounded corners */
        font-size: 18px; /* Increase font size */
        z-index: 10;
    }

    #myBtn:hover {
        background-color: #555; /* Add a dark-grey background on hover */
    }

    footer {
        border-radius: 8px;
        margin: 0 5px 0 5px;
        padding: 5px;
    }
}
