/* Estilo General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
} */

header {
    width: 90%;
    height: 132px;
    /* background-color: #f8b400;    */
    /* background-color: #ff991f; */
    background-image: radial-gradient(#ffb931, #ff6100);
    /* background-image: url('Imagenes/logo-transparente.webp'); */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    /* color: white; */
    color: #c1ff72;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

header h1 {
    font-size: 2.5rem;
    position: relative;
    z-index: 2;
    top: -20px;
    -webkit-text-stroke: 1px #333;
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

header p {
    margin-top: 0.5rem;
    position: relative;
    z-index: 7;
    font-weight: bold;    
    top: 57px;    
    -webkit-text-stroke: 0.5px #7BA842;
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

.menu-container {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: right;
    align-items: center;
    position: absolute;
    padding: 0 20px 0 20px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.menu-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    z-index: 10;
}

.menu-toggle:hover {
    transform: scale(1.05);
    color: #444;
}

/* Estilo del menú desplegable */
.menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    width: 200px;
    z-index: 10;
    /* opacity: 0; */
    /* transition: opacity 0.3s ease, visibility 0.3s ease; */
    /* visibility: hidden; */
}

/* Mostrar menú al pasar el mouse */
/* .menu-container:hover .menu  {
    display: flex;
    opacity: 1;
    visibility: visible;
} */

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    border-bottom: 1px solid #444;
}

.menu li:last-child {
    border-bottom: none;
}

.menu a {
    color: white;
    text-decoration: none;
    display: flex;
    height: 40px;
    /* padding: 10px; */
    justify-content: center;
    align-items: center;
}

.menu a:hover {
    background-color: #555;
    border-radius: 5px;
    transform: scale(1.01);
    font-weight: bold;
}

/* Mostrar menú cuando esté activo */
.menu.active {
    display: flex;
    right: 20px;    
}

.menu.inactive {
    display: none;
}

.logo {
    position: absolute;
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: center;
    z-index: 1;
    opacity: 0.8;
    left: 0;
    right: 0;
    margin: auto;
    animation: heartbeat2 1.5s ease-in-out 4;
}

.logo img {
    position: relative;
    /* width: 300px; */
    /* height: 200px; */
}

.container {
    width: 90%;
    background-image: radial-gradient(#ffb931, #ff6100);
    /* max-width: 800px; */
    margin: 5px auto;
    padding: 20px;
    border-radius: 5px;
}

.historia {
    display: flex;
}

.historia .content {
    flex: 3;
    margin: 0 0 0 5px;
}

.hero {
    text-align: center;
    /* margin-bottom: 20px; */
    flex: 1;
    z-index: 10;
}

.hero img {
    max-width: 100%;
    border-radius: 10px;
    cursor: zoom-in;
}

.zoom-image {
    width: 300px;
    height: auto;
    transition: transform 0.3s ease; /* Animación de zoom */
  }

.hero.active .zoom-image {
    transform: scale(2) translateX(30%); /* Amplía la imagen */
    cursor: zoom-out;    /* Cambia el cursor al hacer clic */
}

/* .content {
    margin-top: 20px;
} */

.content h2 {
    color: #444;
}

/* #equipo {
    display: flex;
} */

.team {
    display: flex;
    /* flex-wrap: wrap; */
    /* gap: 20px; */
    justify-content: space-between;
}

.team-member {
    text-align: center;
    /* flex: 1 1 calc(33.333% - 20px); */
    /* max-width: calc(33.333% - 20px); */
}

.team-member img {
    border-radius: 50%;
    max-width: 150px;
    margin-bottom: 10px;
}

.info a {
    text-decoration: none;
    color: #444;
}

.info p {
    color: #fff;
}

.ImgSocial {
    /* width: 20px; */
    width: 30px;
    /* height: 20px; */
    height: 30px;
}

.back {
    width: 10%;
    height: 60px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

#myBtn2 {
    display: block;
    position: relative;
    border-radius: 50% 25% 25% 50%;
    /* background-color: #333333eb; */
    background-color: transparent;
    background-image: url('Imagenes/izquierda.webp');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    border: 2px solid #ff6100;
    cursor: pointer;
}

#myBtn2:hover {
    transform: scale(1.05);
}

footer {
    width: 90%;
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
    /* margin-top: 20px; */
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

footer a {
    color: #f8b400;
    margin: 0 0.5rem;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@keyframes heartbeat2 {
    0% {
        opacity: 0.8;
        transform: scale(1);
    }
    30% {
        opacity: 0.6;
        transform: scale(1.2);
    }
    60% {
        opacity: 0.6;
        transform: scale(1);
    }
    100% {
        opacity: 0.8;
        transform: scale(1);
    }
}

@media only screen and (min-width: 360px) and (max-width: 501px) and (orientation: portrait) {
    body {
        margin: 0 5px 0 5px;
    }
    header {
        width: 100%;
    }

    .logo {
        /* width: 350px; */
        height: 100px;
        opacity: 0.8;
        /* animation: heartbeat2 1.5s ease-in-out 5; */
        animation: heartbeat2 1.5s ease-in-out 2;
    }

    .menu-container {
        position: fixed;
        height: 32px;
        /* margin-right: 10px; */
        /* top: -40px; */
        top: 0;
        bottom: 0;
        margin: 0;
        /* right: 0; */
        width: 100%;
        z-index: 10;
        padding: 0;
    }

    .menu-toggle {
        position: relative;
        right: 20px;
        display: flex;
        align-items: center;
    }

    .menu.active {
        /* display: flex; */
        /* height: 32px; */
        opacity: 0.8;
        width: 70px;
        /* width: fit-content; */
        right: 20px;
    }

    .menu a {
        font-size: 14px;
        padding: 5px;
        /* display: flex; */
        height: 32px;
        /* justify-content: center; */
        /* align-items: center; */
        /* right: 5px; */
    }

    .menu-section {
        background-image: none;
        /* padding: 10px 5px 10px 5px; */
        padding: 5px;
        gap: 5px;
    }

    .menu-item {
        background-image: radial-gradient(#ffb931, #ff6100);
        /* background-image: linear-gradient(90deg, #ffb931 0%, #ff6100 100%); */
        width: 100%;
        display: flex;
        flex-direction: column;
        transition: transform 0.5s ease-in-out;
        /* transition: transform 0.3s ease, opacity 0.3s ease; */
        /* transform: scale(0); */

    }

    .menu-item.hidden {
        /* transform: translateX(-100%); */
        /* transition: transform 0.8s ease-in-out; */
        /* opacity: 0; */
        /* transition: transform 0.8s ease-in-out; */
        transform: scale(0);
        /* transition: transform 0.5s ease, opacity 0.5s ease; */
        /* transition: transform 0.3s ease, opacity 0.3s ease; */
        /* visibility: hidden; */
    }

    .container {
        /* display: grid; */
        width: 100%;
        padding: 0;
    }

    .historia {
        display: block;
    }

    .top {
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: right;
        bottom: 20px;
        z-index: 10;

    }

    /* #myBtn {
        display: none;
    } */

    .back {
        width: 10%;
        height: 60px;
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
    }

    #myBtn2 {
        display: block;
        position: relative;
        border-radius: 50% 25% 25% 50%;
        /* background-color: #333333eb; */
        background-color: transparent;
        background-image: url('Imagenes/izquierda.webp');
        background-size: cover;
        background-repeat: no-repeat;
        padding: 20px;
        border: 2px solid #ff6100;
    }

    #myBtn {
        display: none; /* Hidden by default */
        position: relative; /* Fixed/sticky position */
        /* bottom: 20px; /* Place the button at the bottom of the page */
        right: 20px; /* Place the button 30px from the right */
        /* z-index: 10; /* Make sure it does not overlap */
        border: 1px solid #333; /* Remove borders */
        outline: none; /* Remove outline */
        /* background-color: red; /* Set a background color */
        background-color: #333333eb;
        background-image: url('Imagenes/top.webp');
        background-size: cover;
        color: white; /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 20px; /* Some padding */
        border-radius: 50px; /* Rounded corners */
        font-size: 18px; /* Increase font size */
        z-index: 10;
    }

    #myBtn:hover {
        background-color: #555; /* Add a dark-grey background on hover */
    }

    .hero {
        padding: 5px;
        margin: 0;
    }

    .content {
        /* padding: 5px; */
        padding: 0;
        margin: 0;
    }

    .content h2 {
        text-align: center;
        /* text-decoration: underline; */
        /* border-bottom: 1px solid #f8b400; */
        border: 1px solid #f8b400;
    }

    .content p {
        text-align: justify;
        padding: 0 5px 0 5px;
        /* border: 1px solid #f8b400; */
    }

    #equipo {
        display: grid;
    }

    .info {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 5px;
        text-align: justify;
    }

    .info h3, .info a {
        width: 100%;
        text-decoration: none;
        color: #444;
    }

    .info p {
        padding: 0;
        color: #fff;
    }

    .team {
        display: grid;
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
        width: 100%;
        margin: 10px 0;
        gap: 5px;
        /* margin-left: auto; */
        /* margin-right: auto; */
        /* flex-direction: column; */
        /* flex-wrap: nowrap; */
        /* gap: 20px; */
        /* justify-content: center; */
    }

    .team-member {
        display: flex;
        /* flex-direction: column; */
        text-align: center;
        /* flex: 1 1 calc(33.333% - 20px); */
        max-width: 100%;
        padding: 0 5px 0 5px;
    }

    .team-member:nth-child(1) {
        margin-left: 0;
        /* transform: translateX(0); */
    }
    
    .team-member:nth-child(2) {
        margin-left: 15px;
        /* transform: translateX(30px); */
        /* transform: translateY(70px); */
    }
    
    .team-member:nth-child(3) {
        margin-left: 30px;
        /* transform: translate(60px, 60px); */
    }

    .team-member img {
        border-radius: 50%;
        max-width: 20%;
        /* margin-bottom: 10px; */
        margin: 0;
    }

    footer {
        width: 100%;
        padding: 5px;
    }
}
