/* Estilos CSS para Restaurante Gourmet */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    height: 132px;
    /* background-color: #f8b400;    */
    /* background-color: #ff991f; */
    background-image: radial-gradient(#ffb931, #ff6100);
    /* background-image: url('Imagenes/logo-transparente.webp'); */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    /* color: white; */
    color: #c1ff72;
    text-align: center;
    padding: 1rem 0;
    position: relative;
}

.logo {
    position: absolute;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    z-index: 1;
    opacity: 0.3;
    /* height: 200px; */
}

.logo img {
    position: relative;
    /* width: 300px; */
    /* height: 200px; */
}

header h1 {
    font-size: 2.5rem;
    position: relative;
    z-index: 2;
    top: -20px;
    -webkit-text-stroke: 1px #333;
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

header p {
    margin-top: 0.5rem;
    position: relative;
    z-index: 3;
    font-weight: bold;
    /* top: -9px; */
    top: 57px;
    /* -webkit-text-stroke: 0.5px #333; */
    -webkit-text-stroke: 0.5px #7BA842;
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

.menu-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.menu-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    z-index: 2;
}

/* Estilo del menú desplegable */
.menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    width: 200px;
    z-index: 1;
    /* opacity: 0; */
    /* transition: opacity 0.3s ease, visibility 0.3s ease; */
    /* visibility: hidden; */
}

/* Mostrar menú al pasar el mouse */
/* .menu-container:hover .menu  {
    display: flex;
    opacity: 1;
    visibility: visible;
} */

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    border-bottom: 1px solid #444;
}

.menu li:last-child {
    border-bottom: none;
}

.menu a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.menu a:hover {
    background-color: #555;
}

/* Mostrar menú cuando esté activo */
.menu.active {
    display: flex;
}

.menu.inactive {
    display: none;
}

main {
    /* background-image: url('Imagenes/logo-2.webp'); */
    /* background-size: cover; */
    background-repeat: no-repeat;
    /* background-position-y: -250px; */
}

.menu-section {
    background-image: url('Imagenes/logo.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 2rem;
}

.menu-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
    position: relative;
}

.menu-item img {
    width: 100%;
    /* height: 200px; */
    height: auto;
    /* object-fit: cover; */
    /* background-size: cover; */

}

.FondoImg {
    display: none;
}

.Burguer {
    background-image: url('Imagenes/burguer-completa.webp');
}

.Img1 {
    position: relative;
    display: none;
}

.Img2 {
    position: relative;
    display: none;
}

.menu-item h3 {
    /* margin: 0.5rem 0; */
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 30px;
}

.menu-item p {
    padding: 0 1rem;
    /* margin-bottom: 0.5rem; */
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 75px;
}

.menu-item .price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #f8b400;    
    /* margin-bottom: 1rem; */
    text-shadow: 2px 2px 2px rgba(167, 121, 0, 1);
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
}

.nodo-img-item {
    position: absolute;
    width: 100%;
    /* height: 100px; */
    display: flex;
    justify-content: center;
    z-index: 1;
    /* opacity: 0.3; */
    top: 8px;
    /* height: 200px; */
}

.nodo-img-item img {
    position: relative;
    width: 20%;
    /* animation: heartbeat 1.5s infinite; */
    animation: heartbeat 1.5s ease-in-out 10;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

footer a {
    color: #f8b400;
    margin: 0 0.5rem;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* .ImgSocial {
    display: flex;
    justify-content: center;
} */

.ImgSocial {
    /* width: 20px; */
    width: 30px;
    /* height: 20px; */
    height: 30px;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.2);
    }
    60% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes heartbeat2 {
    0% {
        opacity: 0.8;
        transform: scale(1);
    }
    30% {
        opacity: 0.6;
        transform: scale(1.2);
    }
    60% {
        opacity: 0.6;
        transform: scale(1);
    }
    100% {
        opacity: 0.8;
        transform: scale(1);
    }
}

@media only screen and (min-width: 360px) and (max-width: 501px) and (orientation: portrait) {
    header {
        /* width: 350px; */
        height: 132px;
        border-radius: 8px;
        margin: 0 5px 0 5px;
        padding: 1rem 0;
    }

    header p {
        /* top: -9px; */
        top: 57px;
    }

    .logo {
        /* width: 350px; */
        height: 100px;
        opacity: 0.8;
        animation: heartbeat2 1.5s ease-in-out 5;
    }

    .menu-container {
        margin-right: 10px;
        top: -40px;
    }

    .menu.active {
        opacity: 0.8;
        width: 30%;
    }

    .menu a {
        font-size: 14px;
        padding: 5px;
        /* right: 5px; */
    }

    .menu-section {
        background-image: none;
        /* padding: 10px 5px 10px 5px; */
        padding: 5px;
        gap: 5px;
    }

    .menu-item {
        background-image: radial-gradient(#ffb931, #ff6100);
        /* background-image: linear-gradient(90deg, #ffb931 0%, #ff6100 100%); */
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    /* .menu-item .price {
        margin: 0;
        border: 1px solid;
    } */

    .menu-item h3 {
        color: #c1ff72;
        -webkit-text-stroke: 1px #7BA842;
        text-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
        display: none;
        /* border: 1px solid #f8b400; */
        /* margin: 0; */
    }

    .menu-item p {
        font-weight: bold;
        text-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
        height: auto;
        /* border: 1px solid #f8b400; */
        /* margin: 0; */
    }

    .menu-item .price {
        /* text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6); */
        text-shadow: 0 2px 2px #333;
        color: #333;
    }

    .menu-item .price, .menu-item h3, .menu-item p {
        border: 1px solid #f8b400;
        margin: 0;
        /* color: #333; */
    }

    .menu-item img {
        position: relative;
        height: auto;
        opacity: 0.8;
        display: block;
    }

    .menu-item .Burguer, .menu-item .Cordero, .menu-item .Choritaco, .menu-item .Trucha,
    .menu-item .Veggie, .menu-item .Pancho, .menu-item .Fritas, .menu-item .Pollo{
        display: none;
    }

    /* .menu-item .Choritaco {
        display: none;
    }

    .menu-item .Trucha {
        display: none;
    }

    .menu-item .Veggie {
        display: none;
    }

    .menu-item .Pancho {
        display: none;
    } */

    .menu-item .FondoImg {
        position: relative;
        opacity: 1;
        /* width: 348px; */
        width: 100%;
        height: 315px;
        opacity: 0.3;
        margin-left: auto;
        margin-right: auto;
        /* display: none; */
        /* border: 1px solid blue; */
    }

    .menu-item .Img1 {
        position: absolute;
        opacity: 1;
        width: 348px;
        height: 348px;
        left: 0;
        right: 0;
        margin: auto;
        /* margin-left: auto; */
        /* margin-right: auto; */
        /* display: none; */
        /* border: 1px solid blue; */
    }

    /* .menu-item .Img2 { */
        /* opacity: 0.3; */
        /* display: none; */
    /* } */

    .menu-item .Img2 {
        position: absolute;
        opacity: 1;
        width: 348px;
        height: 348px;
        /* height: 100%; */
        left: 0;
        right: 0;
        margin: auto;
        /* margin-left: auto; */
        /* margin-right: auto; */
        /* display: none; */
    }

    footer {
        border-radius: 8px;
        margin: 0 5px 0 5px;
    }
}
