/* Estilos CSS para Restaurante Gourmet */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    /* background-color: #f8b400;    */
    background-color: #ff991f; 
    /* background-image: url('Imagenes/logo-transparente.webp'); */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    /* color: white; */
    color: #c1ff72;
    text-align: center;
    padding: 1rem 0;
    position: relative;
}

.logo {
    position: absolute;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    z-index: 1;
    opacity: 0.3;
    /* height: 200px; */
}

.logo img {
    position: relative;
    /* width: 300px; */
    /* height: 200px; */
}

header h1 {
    font-size: 2.5rem;
    position: relative;
    z-index: 2;
    -webkit-text-stroke: 1px #333;
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

header p {
    margin-top: 0.5rem;
    position: relative;
    z-index: 3;
    -webkit-text-stroke: 0.5px #333;
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

main {
    /* background-image: url('Imagenes/logo-2.webp'); */
    /* background-size: cover; */
    background-repeat: no-repeat;
    /* background-position-y: -250px; */
}

.menu-section {
    background-image: url('Imagenes/logo.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 2rem;
}

.menu-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
}

.menu-item img {
    width: 100%;
    height: 200px;
    /* object-fit: cover; */
    /* background-size: cover; */
    
}

.menu-item h3 {
    margin: 0.5rem 0;
}

.menu-item p {
    padding: 0 1rem;
    margin-bottom: 0.5rem;
}

.menu-item .price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #f8b400;
    margin-bottom: 1rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

footer a {
    color: #f8b400;
    margin: 0 0.5rem;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* .ImgSocial {
    display: flex;
    justify-content: center;
} */

.ImgSocial {
    width: 20px;
    height: 20px;
}
